<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
	<div class="aboutcss">
  <h1>CONTACT MANAGER</h1>
  <p>A contact manager project is a software application or system designed to help users organize and manage their contacts effectively. It provides features to store, update, and retrieve contact information, such as names, phone numbers, email addresses, and other relevant details.</p>
</div>
</section>
</body>
</html>