<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">
	<h1 class="font-weight-bold">Smart Contract Manager</h1>
	<p>Start Collecting You Contracts In Very Smarter Way. We Provide Very Efficent And Smarter Way Of Handling Contract</p>
	<button type="button"  class="btn  btn-outline-danger text-white"><a th:href="@{/signup}">Get Start</a></button>
</div>
</section>
</body>
</html>