<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:replace="base2::Layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="card mr-2 ml-2">
			<div class="card-body">
				<h1 class="text-center">Settings</h1>
				<div th:if="${session.message}">
				<div th:classappend="${'alert-'+session.message.type}" class="alert  text-center" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
				</div>
				<h4  class=" mt-2"> Change Password </h4>
				<br>
				<form action="#"  th:action="@{/user/change-Password}" method="post"
					>
					<!--old pass-->
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fas fa-lock"></i>
							</div>
						</div>
						<input type="text" id="oldPassword" name="oldPassword" required placeholder="Enter Old Password"
							class="form-control">
					</div>

					<!--new pass-->
					<div class="input-group mt-4">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fas fa-lock"></i>
							</div>
						</div>
						<input type="text" id="newPassword" name="newPassword" required placeholder="Enter New Password"
							class="form-control">
					</div>
					
					<div class="conatiner mt-4 text-center">
					<button type="submit" class="btn btn-outline-success">Change</button>
					<button type="reset" class="btn btn-outline-danger">Reset</button>
					</div>
					</form>
			</div>

		</div>
		<script>
			$(document).ready(() => {
				$(".item").removeClass("active");
				$("#setting-link").addClass("active");

			});
		</script>
	</section>
</body>

</html>